name: UiPath CI/CD Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  PROJECT_NAME: TestDemoCLI
  ORCHESTRATOR_URL: https://staging.uipath.com/
  ORCHESTRATOR_FOLDER: express
  ORCHESTRATOR_TENANT: DefaultTenant
  Orch_ACC_NAME: uipatcvdtryn
  CLI_URL: https://uipath.visualstudio.com/Public.Feeds/_artifacts/feed/UiPath-Official/NuGet/UiPath.CLI.Windows/overview/24.12.9166.24491
  TEST_SET: Test_Set_TestDemoCli_Tests
  TEST_MANAGER_PROJECT: TestDemo
  ORCH_CLIENT_ID: ${{secrets.APP_ID}}
  ORCH_SECRET: ${{secrets.SECRET}}

jobs:
  cleaner:
    runs-on: ubuntu-latest
    steps:
      - name: Runner workspace path
        run:
          echo "Cleaning up previous run"
          rm -rf "${{github.workspace}}"

  build-uipath-nuget-package:
    needs: cleaner
    runs-on: windows-latest
    steps:
      - name: check out repo code
        uses: actions/checkout@v3
      - name: Build nuget pkg
        shell: pwsh
        run: ${{github.workspace}}\Scripts\UiPathPack.ps1 ${{github.workspace}}\project.json -destination_folder ${{github.workspace}}\package -outputType Process
      - name: Upload UiPath Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path:
            package/*.*
            scripts/*.ps1
  publish-uipath-nuget-package:
    needs: build-uipath-nuget-package
    runs-on: windows-latest
    steps:
      - name: Download UiPath Artifacts
        uses: actions/download-artifact@v4
        with:
          name: Artifacts
      - name: Publish pckg
        shell: pwsh
        run: 
          ${{ github.workspace }}\Scripts\UiPathDeploy.ps1 ${{ github.workspace }}\package ${{ env.ORCHESTRATOR_URL }} ${{ env.ORCHESTRATOR_TENANT }} -folder_organization_unit ${{ env.ORCHESTRATOR_FOLDER }} -accountForApp accountForExternalApp -applicationId ${{ secrets.APP_ID }} -applicationSecret ${{ secrets.SECRET }} -applicationScope "OR.Assets OR.BackgroundTasks OR.Execution OR.Folders OR.Jobs OR.Machines OR.Monitoring OR.Robots OR.Settings OR.TestSetExecutions OR.TestSets OR.TestSetSchedules OR.Users"

  
  
